.layout {
  width: 100%;
  display: grid;
  grid:
    "header header header" auto
    "leftSide body rightSide" 1fr
    "footer footer footer" auto
    / 333px 1fr 350px;
  gap: 8px;
  transform: scaleX(0.90) scaleY(0.90);
  transform-origin: top;
}

@media screen and (max-width:750px) {
  .layout {
    display: grid;
    grid:
      "header header header" auto
      "leftSide body rightSide" 1fr
      "footer footer footer" auto
      / 333px 1fr 1fr;
  }

}

@media screen and (max-width:518px) {
  .header {
    grid-area: inherit !important;
  }
}

.header {
  grid-area: header;
  position: sticky;
}
.leftSide {
  grid-area: leftSide;
}
.body {
  grid-area: body;
}
.rightSide {
  grid-area: rightSide;
}
.footer {
  grid-area: footer;
  transform: scaleX(0.95) scaleY(0.95);

}


@media (min-width:750px ) and (max-width: 1279px) {
  .layout {
    transform: scaleX(1) scaleY(1);
    display: initial;
  }
  .header {
    position: relative ;
    margin-bottom: 6px;
  }
  .body {
    grid-area: initial;
    padding-bottom: 7rem;
  }
  .body main {
    overflow: hidden;
    max-height: none;
    padding: 10px 10px 0px 10px;
  }
  #DiscoverGenre {
    @apply grid grid-cols-3;
  }
  #DiscoverGenre .rounded-card {
    width: auto;
    height: 260px;
  }
  #SidebarLeft {
    margin-top: 2px;
  }
}

@media screen and (max-width:750px) {

  .header {
    position: relative;
  }
  .body {
    grid-area: initial !important
  }
  #SidebarLeft {
    margin-top: 2px;
  }
}

@media screen and (max-width:749px) {
  .layout {
    transform: scaleX(1) scaleY(1);
    display: initial;
  }

  .body {
    grid-area: initial;
    padding-bottom: 7rem;
  }
  .body main {
    overflow: hidden;
    max-height: none;
    padding: 10px 10px 0px 10px;
  }
  #DiscoverGenre {
    @apply grid grid-cols-2;
  }
  #DiscoverGenre .rounded-card {
    width: auto;
    height: 260px;
  }
  #SidebarLeft {
    margin-top: 2px;
  }
}

@media screen and (max-width:639px) {
  #SheetContent {
    width: 100%
  }
} 
/* Headers */
.title-header {
  @apply text-3xl font-bold;
}

/* Search */

.searchInput {
  @apply bg-search-icon bg-no-repeat;
  background-position: 24px 14px;
  background-size: 28px;
}

.searchInputMobile {
  @apply bg-search-icon bg-no-repeat;
  background-position: 14px 10px;
  background-size: 24px;
}