.layout {
  width: 100%;
  display: grid;
  grid:
    "header header header" auto
    "leftSide body rightSide" 1fr
    "footer footer footer" auto
    / 333px 1fr 350px;
  gap: 8px;
  transform: scaleX(0.93) scaleY(0.93);
  transform-origin: top;
}

@media screen and (max-width:750px) {
  .layout {
    display: grid;
    grid:
      "header header header" auto
      "leftSide body rightSide" 1fr
      "footer footer footer" auto
      / 333px 1fr 1fr;
  }

}

@media screen and (max-width:518px) {
  .header {
    grid-area: inherit !important;
  }
}

.header {
  grid-area: header;
}
.leftSide {
  grid-area: leftSide;
}
.body {
  grid-area: body;
}
.rightSide {
  grid-area: rightSide;
}
.footer {
  grid-area: footer;
}

/* Headers */
.title-header {
  @apply text-3xl font-bold;
}

/* Search */

.searchInput {
  @apply bg-search-icon bg-no-repeat;
  background-position: 24px 14px;
  background-size: 28px;
}

.searchInputMobile {
  @apply bg-search-icon bg-no-repeat;
  background-position: 14px 10px;
  background-size: 24px;
}
